<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Task ID</th>
        <th scope="col">Type</th>
        
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        
        <td>@desc</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        
        <td>@desc</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        
        <td>@desc</td>
      </tr>
    </tbody>
  </table>