<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-bullet-list-67 text-primary"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Non traité</p>
              <p class="card-title">{{nntrait}}
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-refresh"></i> Mettre à jour

        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-sound-wave text-warning"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">En cours</p>
              <p class="card-title">{{encours}}
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-refresh"></i> Mettre à jour 
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-check-2 text-success"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">achevé</p>
              <p class="card-title">{{achev}}
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-refresh"></i> Mettre à jour
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-simple-remove text-danger"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">suspendu</p>
              <p class="card-title">{{suspended}}
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-refresh"></i> Mettre à jour
        </div>
      </div>
    </div>
  </div>
</div>





<div class="card">
  
    <div class="row">
      <div class="col-12">
        <table class="table p-3 m-0">
          <thead>
            <tr>
              <th scope="col">Achevé</th>
              <th scope="col">Description</th>
              <th scope="col">Temps total</th>
              <th scope="col">Temps restant</th>
              
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck1"   >
                    <label class="custom-control-label" for="customCheck1"></label>
                    
                </div>
              </td>
              <td>Bootstrap 4 CDN and Starter Template</td>
              <td>9077</td>
              <td>913</td>
              <td><button mat-button color="warn">Retourner</button> </td>
             
              
            </tr>
            <tr>
              <td>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck2">
                    <label class="custom-control-label" for="customCheck2"></label>
                </div>
              </td>
              <td>Bootstrap Grid 4 Tutorial and Examples</td>
              <td>8999</td>
              <td>1.434</td>
              <td><button mat-button color="warn">Retourner</button> </td>
              
            </tr>
            <tr>
              <td>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck3">
                    <label class="custom-control-label" for="customCheck3"></label>
                </div>
              </td>
              <td>Bootstrap Flexbox Tutorial and Examples</td>
              <td>67</td>
              <td>1.877</td>
              <td><button mat-button color="warn">Retourner</button> </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
